@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(239, 239, 239);
}
strong{
    margin-left: .5rem;
    margin-right: .5rem;
}

.carousel .control-dots {
    bottom: -16px; /* Set a custom bottom position */
    top: auto;    /* Reset the default top position */
    left: 50%;
    transform: translateX(-50%);
}
.footer {
    margin-top: -20px;
  }



